*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background: rgb(98, 138, 165);
    color: black;
}
.container{
    position: relative;
    padding: 15px;
    margin: 0 auto;
}
.add{
    width: 100%;
    display: flex;
    padding: 15px 0px;
}
.add > input[type="text"]{
    width: 100%;
    color: black;
    border: 2px solid rgb(10, 10, 66);
    background:white;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 20px;
}
.add button{
    background: #34448b;
    color: white;
    padding: 15px;
    outline: none;
    border-radius: 2px solid rgb(10, 10, 66);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.notcomplete, .complete{
    margin: 15px;
    padding: 25px;
}
h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
    
}
ol{
    list-style: none;
    counter-reset: taskCounter;
}
ol li{
    width: 100%;
    padding: 20px;
    margin: 1px 0px;
    background: rgb(81, 81, 160);
    counter-increment: taskCounter;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Caveat Brush', cursive;
}
ol li::before{
    content:counter(taskCounter);
    background: rgb(163, 163, 228);
    display: inline-block;
    border-radius: 20%;
    width: 2rem;
    text-align: center;
}
li button{
    float: right;
    padding: 6px;
    outline: none;
    background: transparent;
    border: none;
    font-size: 25px;
    line-height: 26px;
    cursor: pointer;
    display: block;
}
